name: Java CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: notification_db
          POSTGRES_USER: myuser
          POSTGRES_PASSWORD: secret
        # Для тестов внутри GitHub Actions используем стандартный 5432
        ports:
          - 5432:5432
      redis:
        image: redis:7
        ports:
          - 6379:6379
      # Добавляем Kafka, иначе тесты упадут
      zookeeper:
        image: confluentinc/cp-zookeeper:7.4.0
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
      kafka:
        image: confluentinc/cp-kafka:7.4.0
        ports:
          - 9092:9092
        env:
          KAFKA_ZOOKEEPER_CONNECT: localhost:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with Maven
        run: mvn clean package
        env:
          # Переопределяем URL БД для тестов (в GitHub Actions всё на 5432)
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/notification_db
          SPRING_MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: notification-service-jar
          path: target/*.jar

  docker:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: notification-service-jar
          path: target/

      # Собираем образ. Если в Dockerfile есть стадия сборки (AS build),
      # она выполнится снова. Для скорости лучше иметь простой Dockerfile без компиляции.
      - name: Build Docker Image
        run: docker build -t training-notification:latest .